<a href="https://colab.research.google.com/github/MK316/workspace/blob/main/dl230503_JIH_0427.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🌀**Part I: Coding in Colab (20 questions, 30 points)**

In [1]:
yourname = input("Type your name here: ")

Type your name here: 정인혜

---
##**Instructions**

+ Q1~13 (1 point each * 13 = 13)
+ Q14~Q20 (2 points each * 7 = 14)
+ Q21 (3 points)

Total 30 points

When times up, save this copy to your github repository with the following file name format:

##**DLMid_yourid.ipynb**
---

##Q1. Create a list called fruits and add three of your favorite fruits to it. Then, print the list.

In [3]:
fruits=["orange","banana","apple"]
print(fruits)

['orange', 'banana', 'apple']

##Q2. Create a variable called **_name_** and ask the user to enter their name. Then, print a message that says "Hello, [name]!".

In [5]:
name=input("What is your name?")
print("Hello,"+"["+name+"]!")

What is your name?inhye
Hello,[inhye]!

##Q3. Create a variable called **_age_** and ask the user to enter their age. Then, print a message that says "You are [age] years old".

In [7]:
age=input("How old are you?")
print("You are "+"["+age+"] years old.")

How old are you?20
You are [20] years old.

##Q4. Create a dictionary called **_person_** with keys name, age, and ID. Set the values to your own name, age, and address. Then, print the dictionary.

In [9]:
person={"name":"Inhye Jeong","age":"28","ID":"2022080243"}
print(person)

{'name': 'Inhye Jeong', 'age': '28', 'ID': '2022080243'}

##Q5. Create a variable called **_num1_** and set it to 5. Create another variable called **_num2_** and set it to 10. Add num1 and num2 together and print the result.

In [10]:
num1=5
num2=10
print(num1+num2)

15

##Q6. Create a variable called **_num3_** and set it to 3. Create another variable called **_num4_** and set it to 2. Divide num3 by num4 and print the result.

In [13]:
num3=3
num4=2
print(num3/num4)

1.5

##Q7. Create a variable called **_sentence_** and set it to "The quick brown fox jumps over the lazy dog". Use the **split()** function to split the sentence into a list of words. Then, print the list.

In [14]:
sentence="The quick brown fox jumps over the lazy dog"
word_list=sentence.split()
print(word_list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

##Q8. Create a list called **_colors_** and add three of your favorite colors to it. Use the **join()** function to join the list into a string separated by commas. Then, print the string.

In [17]:
colors=["Red","Black","Yellow"]
','.join(colors)

'Red,Black,Yellow'

##Q9. Create a variable called **_number_** and set it to 5. Use the **str()** function to convert the number to a string. Then, print number + 7

In [22]:
number=5
number=str(number)
print(number + "7")

57

##Q10. Create a variable called **_my_string_** and set it to "Hello, world!". Use the index() function to find the index of the letter "w" in the string. Then, print the index.

In [72]:
my_string="Hello, world!"
print(my_string[7])

w

##Q11. Create a variable called **_my_list_** and set it to [1, 2, 3, 4, 5]. Use the len() function to find the length of the list. Then, print the length.

In [37]:
my_list=[1,2,3,4,5]
length=len(my_list)
print(length)

5

##Q12. Create a variable called **_my_string_** and set it to "Hello, world!". Use slicing to print the first 5 characters of the string.

In [39]:
my_string="Hello, world!"

##Q13. Create a list called **_numbers_**. Using the random.randint() function, add five random integers to it. Then, print the list. 

**Note:** You should not write the random number on your own. The code should take the random number and add it to your list.

In [103]:
import random
random.randint(1:5)

SyntaxError: ignored

##Q14. [1] Create a list of your favorite colors called **color_list** with at least three colors. [2] Use a **for loop** to iterate through the list and print each color.

In [52]:
color_list = ["Red", "Black", "Yellow"]

for i in color_list :
  print(i)

Red
Black
Yellow

## Q15. Create a list of your favorite foods called **food_list** with at least three foods. Use a **for loop** to iterate through the list and print each food in uppercase letters.

In [56]:
food_list = ["Chicken","Salad","Sushi"]

for s in food_list :
  uppercase_text=s.upper()
  print(uppercase_text)

CHICKEN
SALAD
SUSHI

##Q16.Create a list of your favorite animals called **animal_list** with at least three animals. Use a **for loop** to iterate through the list and print each animal, along with a message saying "I love [animal]!"

In [58]:
animal_list = ["dog","rabbit","whale"]

for ii in animal_list :
  sentence="I love ["+ii+"]!"
  print(sentence)

I love [dog]!
I love [rabbit]!
I love [whale]!

##Q17. The following code should create a list of numbers from 1 to 5 and print the sum of the numbers, but there is an error. Identify and fix the error so that the code runs with no error.

In [66]:
my_list = [1, 2, 3, 4, 5]
total = int(sum(my_list))
total = int(total)
type(total)
print("The sum is:", total)

The sum is: 15

##Q18. The following code should create a dictionary of fruit names and their corresponding colors, and then print the color of the fruit "banana", but there is an error. Identify and fix the error so that the code runs with no error.

In [68]:
fruit_dict = {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}
print(fruit_dict['banana'])

yellow

## Q19. Read the code below and identify the error. Then, fix the error so that the program outputs the fourth item (i.e., 'grape') in the list.

In [69]:
fruit = ["apple", "banana", "orange", "grape"]
print(fruit[3])

grape

##Q19. The following code should create a string containing the words "apple", "banana", and "orange" separated by commas. Split the string into a list of the individual words, so that the output becomes ["apple", "banana", "orange"] and not ["apple,banana,orange"].

In [73]:
my_string = "apple,banana,orange"
my_list = my_string.split(",")
print(my_list)

['apple', 'banana', 'orange']

##Q20. Create a language application that changes a declarative sentence to an imperative sentence. Test the app with the following sentences: 

1. "You take your seat." > (output) Take your seat!
2. "You bring your book." > (output) Bring your book!

Step1. Start with the first sentence, and get the output ('Take your seat!')
Step2. Make another code cell and make a user interactive app using input(). Here you should be able to get the output of the second sentence when the user type the second sentence.

In [84]:
s = "You take your seat."
s1=s.split()
a1=s1[0]
a2=s1[1]
a3=s1[2]
a4=s1[3]
nw=a2[0].upper()+ a2[1:].lower()
a5=a4[:-1]
print(nw+" "+a3+" "+a5+"!")

Take your seat!

In [89]:
s = input("Write a declarative sentence: ")
s1=s.split()
a1=s1[0]
a2=s1[1]
a3=s1[2]
a4=s1[3]
nw=a2[0].upper()+ a2[1:].lower()
a5=a4[:-1]
print(nw+" "+a3+" "+a5+"!")

Write a declarative sentence: You bring your book.
Bring your book!

---
# 📌Submission: 2 submissions

[1] pdf submission (File > Print > pdf print), save pdf on the desktop, get it ready to upload your file to the google form below. 
+ File name: DL_yourid.pdf

[2] Save this file in your github repository. 
+ File name: DLMid_yourid.ipynb

# 🌀 **Part II: Using a Google form (30 questions, 30 points)**

[Click here to start](https://forms.gle/eidnsEzd4VkRXC4i7)